In [3]:
##dataset->classificataion on binary classification
## 1000 points
## 900 yes 100 no
#9:1 data set is there
##imbalanced dataset-->my model get biased
##two techniques are used to remove this biasing
'''
methods
1.up sampling-> iccreasing the minority
2.down sampling->decreasing the majority
'''

'\nmethods\n1.up sampling-> iccreasing the minority\n2.down sampling->decreasing the majority\n'

In [4]:
import numpy as np
import pandas as pd

# set the random seed for reproducibility
np.random.seed(123)
#create a dataframe with two classes
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [7]:
#data frame with imbalanced data sets
class_0=pd.DataFrame({
    "feature_1":np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature_2":np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
})
class_1=pd.DataFrame({
    "feature_1":np.random.normal(loc=2,scale=1,size=n_class_1),
    "feature_2":np.random.normal(loc=2,scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [11]:
## upsampling
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [12]:
from sklearn.utils import resample
up_samplere=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [13]:
up_samplere.shape

(900, 3)

In [14]:
up_samplere.head()

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1

In [17]:
df_minority=pd.concat([df_majority,up_samplere])

In [18]:
df_minority["target"].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [23]:
## upsampling
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [24]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [25]:
df_majority_downsampled.shape

(100, 3)