### Tuples

In [2]:
## creating tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [13]:
lst=list()
print(type(list))

TypeError: 'list' object is not callable

In [5]:
tpl=tuple()
print(tpl)
print(type(tpl))

()
<class 'tuple'>

In [14]:
number=tuple([1,2,3,4,5,6])
print(number)

(1, 2, 3, 4, 5, 6)

In [19]:
mized=(1,"hello world",3.13,True)
print(mized)

(1, 'hello world', 3.13, True)

In [22]:
## accesing tuple element
number

(1, 2, 3, 4, 5, 6)

In [28]:
number[-1]

6

In [29]:
number[0:3]

(1, 2, 3)

In [31]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [34]:
## tuple operations
concatination=number+mized
print(concatination)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.13, True)

In [ ]:
## operrations
mized*3# appending 3 times

(1,
 'hello world',
 3.13,
 True,
 1,
 'hello world',
 3.13,
 True,
 1,
 'hello world',
 3.13,
 True)

In [36]:
number*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [40]:
## immutable nature of tuples
list=[1,2,3,4]
print(list)
list[0]="krish"
print(list)

[1, 2, 3, 4]
['krish', 2, 3, 4]

In [47]:
## tuple methods
print(number)
print(number.count(1))
print(number.index(3))

(1, 2, 3, 4, 5, 6)
1
2

In [48]:
## packing and unpacking tuples
packed=1,"hello","3.14"
print(packed)

(1, 'hello', '3.14')

In [49]:
## unpacking
a,b,c=packed

In [52]:
print(a)
print(b)
print(c)

1
hello
3.14

In [54]:
## unpacking with respect to * 
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [60]:
## nested tuples
list=[
    [1,2,3,4],
    [5,6,7,8],
    (1,"hello",3.14,c),
    ]
list[2][0:2]

(1, 'hello')

In [61]:
nested_tuples=(
    (1,2,3),
    ("a","b","c"),
    (True,False)
)
nested_tuples[1][1]

'b'

In [63]:
## iterationg over nested typles
for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False