In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("SaleData.csv")
df.head(5)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1/6/18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2/9/18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
3,2/26/18,Central,Timothy,David,Cell Phone,27.0,225.00,"6,075.00"
4,3/15/18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"

In [4]:
df.tail(5)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00"
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00"
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00"
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00"
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75"

In [5]:
df.describe()

            Units
count   45.000000
mean    54.083333
std     45.096676
min      2.000000
25%     28.000000
50%     53.000000
75%     75.000000
max    278.000000

In [6]:
df.dtypes

OrderDate        object
Region           object
Manager          object
SalesMan         object
Item             object
Units           float64
 Unit_price      object
Sale_amt         object
dtype: object

In [10]:
### handeling missing values
df.isnull().any()

OrderDate        True
Region           True
Manager          True
SalesMan         True
Item             True
Units           False
 Unit_price     False
Sale_amt        False
dtype: bool

In [11]:
df.isnull().sum()

OrderDate       2
Region          2
Manager         2
SalesMan        2
Item            2
Units           0
 Unit_price     0
Sale_amt        0
dtype: int64

In [13]:
df_filled=df.fillna(0)

In [14]:
### filling missvalues wit the mean of the column
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1/6/18,East,Martha,Alexander,Television,95.00,"1,198.00","113,810.00"
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.00,500.00,"25,000.00"
2,2/9/18,Central,Hermann,Luis,Television,36.00,"1,198.00","43,128.00"
3,2/26/18,Central,Timothy,David,Cell Phone,27.00,225.00,"6,075.00"
4,3/15/18,West,Timothy,Stephen,Television,56.00,"1,198.00","67,088.00"
5,4/1/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00"
6,4/18/18,Central,Martha,Steven,Television,75.00,"1,198.00","89,850.00"
7,5/5/18,Central,Hermann,Luis,Television,90.00,"1,198.00","107,820.00"
8,5/22/18,West,Douglas,Michael,Television,32.00,"1,198.00","38,336.00"
9,6/8/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00"
10,6/25/18,Central,Hermann,Sigal,Television,90.00,"1,198.00","107,820.00"
11,7/12/18,East,Martha,Diana,Home Theater,29.00,500.00,"14,500.00"
12,7/29/18,East,Douglas,Karen,Home Theater,81.00,500.00,"40,500.00"
13,8/15/18,East,Martha,Alexander,Television,35.00,"1,198.00","41,930.00"
14,9/1/18,Central,Douglas,John,Desk,2.00,125.00,250.00
15,9/18/18,East,Martha,Alexander,Video Games,16.00,58.50,936.00
16,10/5/18,Central,Hermann,Sigal,Home Theater,28.00,500.00,"14,000.00"
17,10/22/18,East,Martha,Alexander,Cell Phone,64.00,225.00,"14,400.00"
18,11/8/18,East,Douglas,Karen,Cell Phone,15.00,225.00,"3,375.00"
19,11/25/18,Central,Hermann,Shelli,Video Games,96.00,58.50,"5,616.00"
20,12/12/18,Central,Douglas,John,Television,67.00,"1,198.00","80,266.00"
21,12/29/18,East,Douglas,Karen,Video Games,74.00,58.50,"4,329.00"
22,1/15/19,Central,Timothy,David,Home Theater,46.00,500.00,"23,000.00"
23,2/1/19,Central,Douglas,John,Home Theater,87.00,500.00,"43,500.00"
24,2/18/19,East,Martha,Alexander,Home Theater,4.00,500.00,"2,000.00"
25,3/7/19,West,Timothy,Stephen,Home Theater,7.00,500.00,"3,500.00"
26,3/24/19,Central,Hermann,Luis,Video Games,50.00,58.50,"2,925.00"
27,4/10/19,Central,Martha,Steven,Television,66.00,"1,198.00","79,068.00"
28,4/27/19,East,Martha,Diana,Cell Phone,96.00,225.00,"21,600.00"
29,5/14/19,Central,Timothy,David,Television,53.00,"1,198.00","63,494.00"
30,5/31/19,Central,Timothy,David,Home Theater,80.00,500.00,"40,000.00"
31,6/17/19,Central,Hermann,Shelli,Desk,5.00,125.00,625.00
32,7/4/19,East,Martha,Alexander,Video Games,62.00,58.50,"3,627.00"
33,7/21/19,Central,Hermann,Sigal,Video Games,55.00,58.50,"3,217.50"
34,8/7/19,Central,Hermann,Shelli,Video Games,42.00,58.50,"2,457.00"
35,8/24/19,West,Timothy,Stephen,Desk,3.00,125.00,375.00
36,9/10/19,Central,Timothy,David,Television,7.00,"1,198.00","8,386.00"
37,9/27/19,West,Timothy,Stephen,Cell Phone,76.00,225.00,"17,100.00"
38,10/14/19,West,Douglas,Michael,Home Theater,57.00,500.00,"28,500.00"
39,10/31/19,Central,Martha,Steven,Television,14.00,"1,198.00","16,772.00"
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00"
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00"
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00"
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00"
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75"

In [16]:
df.isnull().sum()

OrderDate       2
Region          2
Manager         2
SalesMan        2
Item            2
Units           0
 Unit_price     0
Sale_amt        0
dtype: int64

In [21]:
df["IT"]=df["Item"].fillna("temp")

In [22]:
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,IT
0,1/6/18,East,Martha,Alexander,Television,95.00,"1,198.00","113,810.00",Television
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.00,500.00,"25,000.00",Home Theater
2,2/9/18,Central,Hermann,Luis,Television,36.00,"1,198.00","43,128.00",Television
3,2/26/18,Central,Timothy,David,Cell Phone,27.00,225.00,"6,075.00",Cell Phone
4,3/15/18,West,Timothy,Stephen,Television,56.00,"1,198.00","67,088.00",Television
5,4/1/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
6,4/18/18,Central,Martha,Steven,Television,75.00,"1,198.00","89,850.00",Television
7,5/5/18,Central,Hermann,Luis,Television,90.00,"1,198.00","107,820.00",Television
8,5/22/18,West,Douglas,Michael,Television,32.00,"1,198.00","38,336.00",Television
9,6/8/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
10,6/25/18,Central,Hermann,Sigal,Television,90.00,"1,198.00","107,820.00",Television
11,7/12/18,East,Martha,Diana,Home Theater,29.00,500.00,"14,500.00",Home Theater
12,7/29/18,East,Douglas,Karen,Home Theater,81.00,500.00,"40,500.00",Home Theater
13,8/15/18,East,Martha,Alexander,Television,35.00,"1,198.00","41,930.00",Television
14,9/1/18,Central,Douglas,John,Desk,2.00,125.00,250.00,Desk
15,9/18/18,East,Martha,Alexander,Video Games,16.00,58.50,936.00,Video Games
16,10/5/18,Central,Hermann,Sigal,Home Theater,28.00,500.00,"14,000.00",Home Theater
17,10/22/18,East,Martha,Alexander,Cell Phone,64.00,225.00,"14,400.00",Cell Phone
18,11/8/18,East,Douglas,Karen,Cell Phone,15.00,225.00,"3,375.00",Cell Phone
19,11/25/18,Central,Hermann,Shelli,Video Games,96.00,58.50,"5,616.00",Video Games
20,12/12/18,Central,Douglas,John,Television,67.00,"1,198.00","80,266.00",Television
21,12/29/18,East,Douglas,Karen,Video Games,74.00,58.50,"4,329.00",Video Games
22,1/15/19,Central,Timothy,David,Home Theater,46.00,500.00,"23,000.00",Home Theater
23,2/1/19,Central,Douglas,John,Home Theater,87.00,500.00,"43,500.00",Home Theater
24,2/18/19,East,Martha,Alexander,Home Theater,4.00,500.00,"2,000.00",Home Theater
25,3/7/19,West,Timothy,Stephen,Home Theater,7.00,500.00,"3,500.00",Home Theater
26,3/24/19,Central,Hermann,Luis,Video Games,50.00,58.50,"2,925.00",Video Games
27,4/10/19,Central,Martha,Steven,Television,66.00,"1,198.00","79,068.00",Television
28,4/27/19,East,Martha,Diana,Cell Phone,96.00,225.00,"21,600.00",Cell Phone
29,5/14/19,Central,Timothy,David,Television,53.00,"1,198.00","63,494.00",Television
30,5/31/19,Central,Timothy,David,Home Theater,80.00,500.00,"40,000.00",Home Theater
31,6/17/19,Central,Hermann,Shelli,Desk,5.00,125.00,625.00,Desk
32,7/4/19,East,Martha,Alexander,Video Games,62.00,58.50,"3,627.00",Video Games
33,7/21/19,Central,Hermann,Sigal,Video Games,55.00,58.50,"3,217.50",Video Games
34,8/7/19,Central,Hermann,Shelli,Video Games,42.00,58.50,"2,457.00",Video Games
35,8/24/19,West,Timothy,Stephen,Desk,3.00,125.00,375.00,Desk
36,9/10/19,Central,Timothy,David,Television,7.00,"1,198.00","8,386.00",Television
37,9/27/19,West,Timothy,Stephen,Cell Phone,76.00,225.00,"17,100.00",Cell Phone
38,10/14/19,West,Douglas,Michael,Home Theater,57.00,500.00,"28,500.00",Home Theater
39,10/31/19,Central,Martha,Steven,Television,14.00,"1,198.00","16,772.00",Television
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00",Home Theater
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00",Home Theater
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00",Home Theater
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00",temp
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75",temp

In [23]:
df.dtypes

OrderDate        object
Region           object
Manager          object
SalesMan         object
Item             object
Units           float64
 Unit_price      object
Sale_amt         object
IT               object
dtype: object

In [25]:
### renaming column
df.rename(columns={"OrderDate":"date"})

,date,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,IT
0,1/6/18,East,Martha,Alexander,Television,95.00,"1,198.00","113,810.00",Television
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.00,500.00,"25,000.00",Home Theater
2,2/9/18,Central,Hermann,Luis,Television,36.00,"1,198.00","43,128.00",Television
3,2/26/18,Central,Timothy,David,Cell Phone,27.00,225.00,"6,075.00",Cell Phone
4,3/15/18,West,Timothy,Stephen,Television,56.00,"1,198.00","67,088.00",Television
5,4/1/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
6,4/18/18,Central,Martha,Steven,Television,75.00,"1,198.00","89,850.00",Television
7,5/5/18,Central,Hermann,Luis,Television,90.00,"1,198.00","107,820.00",Television
8,5/22/18,West,Douglas,Michael,Television,32.00,"1,198.00","38,336.00",Television
9,6/8/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
10,6/25/18,Central,Hermann,Sigal,Television,90.00,"1,198.00","107,820.00",Television
11,7/12/18,East,Martha,Diana,Home Theater,29.00,500.00,"14,500.00",Home Theater
12,7/29/18,East,Douglas,Karen,Home Theater,81.00,500.00,"40,500.00",Home Theater
13,8/15/18,East,Martha,Alexander,Television,35.00,"1,198.00","41,930.00",Television
14,9/1/18,Central,Douglas,John,Desk,2.00,125.00,250.00,Desk
15,9/18/18,East,Martha,Alexander,Video Games,16.00,58.50,936.00,Video Games
16,10/5/18,Central,Hermann,Sigal,Home Theater,28.00,500.00,"14,000.00",Home Theater
17,10/22/18,East,Martha,Alexander,Cell Phone,64.00,225.00,"14,400.00",Cell Phone
18,11/8/18,East,Douglas,Karen,Cell Phone,15.00,225.00,"3,375.00",Cell Phone
19,11/25/18,Central,Hermann,Shelli,Video Games,96.00,58.50,"5,616.00",Video Games
20,12/12/18,Central,Douglas,John,Television,67.00,"1,198.00","80,266.00",Television
21,12/29/18,East,Douglas,Karen,Video Games,74.00,58.50,"4,329.00",Video Games
22,1/15/19,Central,Timothy,David,Home Theater,46.00,500.00,"23,000.00",Home Theater
23,2/1/19,Central,Douglas,John,Home Theater,87.00,500.00,"43,500.00",Home Theater
24,2/18/19,East,Martha,Alexander,Home Theater,4.00,500.00,"2,000.00",Home Theater
25,3/7/19,West,Timothy,Stephen,Home Theater,7.00,500.00,"3,500.00",Home Theater
26,3/24/19,Central,Hermann,Luis,Video Games,50.00,58.50,"2,925.00",Video Games
27,4/10/19,Central,Martha,Steven,Television,66.00,"1,198.00","79,068.00",Television
28,4/27/19,East,Martha,Diana,Cell Phone,96.00,225.00,"21,600.00",Cell Phone
29,5/14/19,Central,Timothy,David,Television,53.00,"1,198.00","63,494.00",Television
30,5/31/19,Central,Timothy,David,Home Theater,80.00,500.00,"40,000.00",Home Theater
31,6/17/19,Central,Hermann,Shelli,Desk,5.00,125.00,625.00,Desk
32,7/4/19,East,Martha,Alexander,Video Games,62.00,58.50,"3,627.00",Video Games
33,7/21/19,Central,Hermann,Sigal,Video Games,55.00,58.50,"3,217.50",Video Games
34,8/7/19,Central,Hermann,Shelli,Video Games,42.00,58.50,"2,457.00",Video Games
35,8/24/19,West,Timothy,Stephen,Desk,3.00,125.00,375.00,Desk
36,9/10/19,Central,Timothy,David,Television,7.00,"1,198.00","8,386.00",Television
37,9/27/19,West,Timothy,Stephen,Cell Phone,76.00,225.00,"17,100.00",Cell Phone
38,10/14/19,West,Douglas,Michael,Home Theater,57.00,500.00,"28,500.00",Home Theater
39,10/31/19,Central,Martha,Steven,Television,14.00,"1,198.00","16,772.00",Television
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00",Home Theater
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00",Home Theater
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00",Home Theater
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00",temp
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75",temp

In [26]:
##change data type
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,IT
0,1/6/18,East,Martha,Alexander,Television,95.00,"1,198.00","113,810.00",Television
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.00,500.00,"25,000.00",Home Theater
2,2/9/18,Central,Hermann,Luis,Television,36.00,"1,198.00","43,128.00",Television
3,2/26/18,Central,Timothy,David,Cell Phone,27.00,225.00,"6,075.00",Cell Phone
4,3/15/18,West,Timothy,Stephen,Television,56.00,"1,198.00","67,088.00",Television
5,4/1/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
6,4/18/18,Central,Martha,Steven,Television,75.00,"1,198.00","89,850.00",Television
7,5/5/18,Central,Hermann,Luis,Television,90.00,"1,198.00","107,820.00",Television
8,5/22/18,West,Douglas,Michael,Television,32.00,"1,198.00","38,336.00",Television
9,6/8/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater
10,6/25/18,Central,Hermann,Sigal,Television,90.00,"1,198.00","107,820.00",Television
11,7/12/18,East,Martha,Diana,Home Theater,29.00,500.00,"14,500.00",Home Theater
12,7/29/18,East,Douglas,Karen,Home Theater,81.00,500.00,"40,500.00",Home Theater
13,8/15/18,East,Martha,Alexander,Television,35.00,"1,198.00","41,930.00",Television
14,9/1/18,Central,Douglas,John,Desk,2.00,125.00,250.00,Desk
15,9/18/18,East,Martha,Alexander,Video Games,16.00,58.50,936.00,Video Games
16,10/5/18,Central,Hermann,Sigal,Home Theater,28.00,500.00,"14,000.00",Home Theater
17,10/22/18,East,Martha,Alexander,Cell Phone,64.00,225.00,"14,400.00",Cell Phone
18,11/8/18,East,Douglas,Karen,Cell Phone,15.00,225.00,"3,375.00",Cell Phone
19,11/25/18,Central,Hermann,Shelli,Video Games,96.00,58.50,"5,616.00",Video Games
20,12/12/18,Central,Douglas,John,Television,67.00,"1,198.00","80,266.00",Television
21,12/29/18,East,Douglas,Karen,Video Games,74.00,58.50,"4,329.00",Video Games
22,1/15/19,Central,Timothy,David,Home Theater,46.00,500.00,"23,000.00",Home Theater
23,2/1/19,Central,Douglas,John,Home Theater,87.00,500.00,"43,500.00",Home Theater
24,2/18/19,East,Martha,Alexander,Home Theater,4.00,500.00,"2,000.00",Home Theater
25,3/7/19,West,Timothy,Stephen,Home Theater,7.00,500.00,"3,500.00",Home Theater
26,3/24/19,Central,Hermann,Luis,Video Games,50.00,58.50,"2,925.00",Video Games
27,4/10/19,Central,Martha,Steven,Television,66.00,"1,198.00","79,068.00",Television
28,4/27/19,East,Martha,Diana,Cell Phone,96.00,225.00,"21,600.00",Cell Phone
29,5/14/19,Central,Timothy,David,Television,53.00,"1,198.00","63,494.00",Television
30,5/31/19,Central,Timothy,David,Home Theater,80.00,500.00,"40,000.00",Home Theater
31,6/17/19,Central,Hermann,Shelli,Desk,5.00,125.00,625.00,Desk
32,7/4/19,East,Martha,Alexander,Video Games,62.00,58.50,"3,627.00",Video Games
33,7/21/19,Central,Hermann,Sigal,Video Games,55.00,58.50,"3,217.50",Video Games
34,8/7/19,Central,Hermann,Shelli,Video Games,42.00,58.50,"2,457.00",Video Games
35,8/24/19,West,Timothy,Stephen,Desk,3.00,125.00,375.00,Desk
36,9/10/19,Central,Timothy,David,Television,7.00,"1,198.00","8,386.00",Television
37,9/27/19,West,Timothy,Stephen,Cell Phone,76.00,225.00,"17,100.00",Cell Phone
38,10/14/19,West,Douglas,Michael,Home Theater,57.00,500.00,"28,500.00",Home Theater
39,10/31/19,Central,Martha,Steven,Television,14.00,"1,198.00","16,772.00",Television
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00",Home Theater
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00",Home Theater
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00",Home Theater
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00",temp
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75",temp

In [30]:
total["Units"]=df["Units"].astype(int)
total

0                                                       95
1                                                       50
2                                                       36
3                                                       27
4                                                       56
5                                                       60
6                                                       75
7                                                       90
8                                                       32
9                                                       60
10                                                      90
11                                                      29
12                                                      81
13                                                      35
14                                                       2
15                                                      16
16                                                      28
17                                                      64
18                                                      15
19                                                      96
20                                                      67
21                                                      74
22                                                      46
23                                                      87
24                                                       4
25                                                       7
26                                                      50
27                                                      66
28                                                      96
29                                                      53
30                                                      80
31                                                       5
32                                                      62
33                                                      55
34                                                      42
35                                                       3
36                                                       7
37                                                      76
38                                                      57
39                                                      14
40                                                      11
41                                                      94
42                                                      28
43                                                     278
44                                                      34
Units    0      95
1      50
2      36
3      27
4     ...
Name: Units, dtype: object

In [31]:
total

0                                                       95
1                                                       50
2                                                       36
3                                                       27
4                                                       56
5                                                       60
6                                                       75
7                                                       90
8                                                       32
9                                                       60
10                                                      90
11                                                      29
12                                                      81
13                                                      35
14                                                       2
15                                                      16
16                                                      28
17                                                      64
18                                                      15
19                                                      96
20                                                      67
21                                                      74
22                                                      46
23                                                      87
24                                                       4
25                                                       7
26                                                      50
27                                                      66
28                                                      96
29                                                      53
30                                                      80
31                                                       5
32                                                      62
33                                                      55
34                                                      42
35                                                       3
36                                                       7
37                                                      76
38                                                      57
39                                                      14
40                                                      11
41                                                      94
42                                                      28
43                                                     278
44                                                      34
Units    0      95
1      50
2      36
3      27
4     ...
Name: Units, dtype: object

In [32]:
df["New value"]=df["Units"].apply(lambda x:x*2)

In [33]:
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,IT,New value
0,1/6/18,East,Martha,Alexander,Television,95.00,"1,198.00","113,810.00",Television,190.0
1,1/23/18,Central,Hermann,Shelli,Home Theater,50.00,500.00,"25,000.00",Home Theater,100.0
2,2/9/18,Central,Hermann,Luis,Television,36.00,"1,198.00","43,128.00",Television,72.0
3,2/26/18,Central,Timothy,David,Cell Phone,27.00,225.00,"6,075.00",Cell Phone,54.0
4,3/15/18,West,Timothy,Stephen,Television,56.00,"1,198.00","67,088.00",Television,112.0
5,4/1/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater,120.0
6,4/18/18,Central,Martha,Steven,Television,75.00,"1,198.00","89,850.00",Television,150.0
7,5/5/18,Central,Hermann,Luis,Television,90.00,"1,198.00","107,820.00",Television,180.0
8,5/22/18,West,Douglas,Michael,Television,32.00,"1,198.00","38,336.00",Television,64.0
9,6/8/18,East,Martha,Alexander,Home Theater,60.00,500.00,"30,000.00",Home Theater,120.0
10,6/25/18,Central,Hermann,Sigal,Television,90.00,"1,198.00","107,820.00",Television,180.0
11,7/12/18,East,Martha,Diana,Home Theater,29.00,500.00,"14,500.00",Home Theater,58.0
12,7/29/18,East,Douglas,Karen,Home Theater,81.00,500.00,"40,500.00",Home Theater,162.0
13,8/15/18,East,Martha,Alexander,Television,35.00,"1,198.00","41,930.00",Television,70.0
14,9/1/18,Central,Douglas,John,Desk,2.00,125.00,250.00,Desk,4.0
15,9/18/18,East,Martha,Alexander,Video Games,16.00,58.50,936.00,Video Games,32.0
16,10/5/18,Central,Hermann,Sigal,Home Theater,28.00,500.00,"14,000.00",Home Theater,56.0
17,10/22/18,East,Martha,Alexander,Cell Phone,64.00,225.00,"14,400.00",Cell Phone,128.0
18,11/8/18,East,Douglas,Karen,Cell Phone,15.00,225.00,"3,375.00",Cell Phone,30.0
19,11/25/18,Central,Hermann,Shelli,Video Games,96.00,58.50,"5,616.00",Video Games,192.0
20,12/12/18,Central,Douglas,John,Television,67.00,"1,198.00","80,266.00",Television,134.0
21,12/29/18,East,Douglas,Karen,Video Games,74.00,58.50,"4,329.00",Video Games,148.0
22,1/15/19,Central,Timothy,David,Home Theater,46.00,500.00,"23,000.00",Home Theater,92.0
23,2/1/19,Central,Douglas,John,Home Theater,87.00,500.00,"43,500.00",Home Theater,174.0
24,2/18/19,East,Martha,Alexander,Home Theater,4.00,500.00,"2,000.00",Home Theater,8.0
25,3/7/19,West,Timothy,Stephen,Home Theater,7.00,500.00,"3,500.00",Home Theater,14.0
26,3/24/19,Central,Hermann,Luis,Video Games,50.00,58.50,"2,925.00",Video Games,100.0
27,4/10/19,Central,Martha,Steven,Television,66.00,"1,198.00","79,068.00",Television,132.0
28,4/27/19,East,Martha,Diana,Cell Phone,96.00,225.00,"21,600.00",Cell Phone,192.0
29,5/14/19,Central,Timothy,David,Television,53.00,"1,198.00","63,494.00",Television,106.0
30,5/31/19,Central,Timothy,David,Home Theater,80.00,500.00,"40,000.00",Home Theater,160.0
31,6/17/19,Central,Hermann,Shelli,Desk,5.00,125.00,625.00,Desk,10.0
32,7/4/19,East,Martha,Alexander,Video Games,62.00,58.50,"3,627.00",Video Games,124.0
33,7/21/19,Central,Hermann,Sigal,Video Games,55.00,58.50,"3,217.50",Video Games,110.0
34,8/7/19,Central,Hermann,Shelli,Video Games,42.00,58.50,"2,457.00",Video Games,84.0
35,8/24/19,West,Timothy,Stephen,Desk,3.00,125.00,375.00,Desk,6.0
36,9/10/19,Central,Timothy,David,Television,7.00,"1,198.00","8,386.00",Television,14.0
37,9/27/19,West,Timothy,Stephen,Cell Phone,76.00,225.00,"17,100.00",Cell Phone,152.0
38,10/14/19,West,Douglas,Michael,Home Theater,57.00,500.00,"28,500.00",Home Theater,114.0
39,10/31/19,Central,Martha,Steven,Television,14.00,"1,198.00","16,772.00",Television,28.0
40,11/17/19,Central,Hermann,Luis,Home Theater,11.00,500.00,"5,500.00",Home Theater,22.0
41,12/4/19,Central,Hermann,Luis,Home Theater,94.00,500.00,"47,000.00",Home Theater,188.0
42,12/21/19,Central,Martha,Steven,Home Theater,28.00,500.00,"14,000.00",Home Theater,56.0
43,NaN,NaN,NaN,NaN,NaN,278.00,"1,125.00","62,550.00",temp,556.0
44,NaN,NaN,NaN,NaN,NaN,34.75,140.63,"7,818.75",temp,69.5

In [42]:
## data aggreegarting and gruoping
grouned=df.groupby("Item")["Unit"].mean()
print(grouned)

KeyError: 'Column not found: Unit'

In [43]:
df.groupby(["Item","Region"])["Units"].sum()

Item          Region
Cell Phone    Central     27.0
              East       175.0
              West        76.0
Desk          Central      7.0
              West         3.0
Home Theater  Central    424.0
              East       234.0
              West        64.0
Television    Central    498.0
              East       130.0
              West        88.0
Video Games   Central    243.0
              East       152.0
Name: Units, dtype: float64

In [45]:
## aggregate multiple function
df.groupby("Region")["Units"].agg(["mean","sum","count"])

              mean     sum  count
Region
Central  49.958333  1199.0     24
East     53.153846   691.0     13
West     38.500000   231.0      6

In [46]:
## merging and joinigng data frames

In [48]:
d1=pd.DataFrame({"key":["A","B","C"],"value1":[1,2,3]})
d2=pd.DataFrame({"key":["A","B","D"],"value2":[4,5,6]})
d1

  key  value1
0   A       1
1   B       2
2   C       3

In [55]:
## merge dat frame on key coumns
pd.merge(d1,d2,on="key",how="right")
pd.merge(d1,d2,on="key",how="left")
pd.merge(d1,d2,on="key",how="inner")
pd.merge(d1,d2,on="key",how="outer")

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0