In [1]:
import sqlite3

In [3]:
#connect to an sqlite database
connection=sqlite3.connect("example.db")
connection

In [4]:
cursor=connection.cursor()

In [9]:
### create a table
cursor.execute('''
Create table if not exists employee(
    id INT Primary key,
    name varchar not null,
    age INT,
    department text
    )
''')
##commit
connection.commit()

In [14]:
cursor.execute('''
    select * from employee
''')

In [21]:
## insert data in sql
cursor.execute('''
    INSERT INTO employee(name,age,department)
    values ("barash",32,"student") 
''')
connection.commit()

In [23]:
cursor.execute('''
    select * from employee
''')
connection.commit()

In [26]:
cursor.execute("select * from employee")
rows=cursor.fetchall()
for row in  rows:
    print(row)

(None, 'barash', 32, 'student')
(None, 'barash', 32, 'student')

In [27]:
## upate the data in table
cursor.execute('''
    update employee set age=34
    where name="barash"
''')
connection.commit()

In [29]:
cursor.execute("select * from employee")
rows=cursor.fetchall()
for row in rows:
    print(row)

(None, 'barash', 34, 'student')
(None, 'barash', 34, 'student')

In [30]:
cursor.execute('''
    delete from employee 
    where name="barash"        
''')
connection.commit()
cursor.execute("select * from employee")
rows=cursor.fetchall()
for row in  rows:
    print(row)

In [31]:
cursor.execute("select * from employee")
rows=cursor.fetchall()
for row in  rows:
    print(row)

In [44]:
## working with sales data
connection=sqlite3.connect("sales_data.db")
cursor=connection.cursor()
##create a table
cursor.execute('''
create table if not exists sales(
    id int primary key,
    date text not null,
    product text not null,
    sales integer,
    region text
)
''')
## insert some data
sales_data=[
    ("2023-01-01","product-1",100,"north"),
    ("2023-02-01","product-2",140,"south"),
    ("2023-03-01","product-3",160,"west"),
    ("2023-02-01","product-4",180,"east"),
    ("2023-01-01","product-5",190,"north"),
]

cursor.executemany('''
                   Insert into sales(date,product,sales,region) values(?,?,?,?)''',sales_data)
connection.commit()

In [45]:
cursor.execute("select * from sales")
rows=cursor.fetchall()
for row in rows:
    print(row)

(None, '2023-01-01', 'product-1', 100, 'north')
(None, '2023-02-01', 'product-2', 140, 'south')
(None, '2023-03-01', 'product-3', 160, 'west')
(None, '2023-02-01', 'product-4', 180, 'east')
(None, '2023-01-01', 'product-5', 190, 'north')

In [46]:
connection.close()