### data encoding

In [1]:
#conversting the categorical data in to some important data
#categorical features in the numerical values

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
#create a data frame
df=pd.DataFrame({
    "color":["red","blue","green","green","red","blue"]
})
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
encoder=OneHotEncoder()

In [8]:
#fit and transform
encoded=encoder.fit_transform(df[["color"]]).toarray()

In [10]:
import pandas as pd
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [11]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [13]:
encoder.transform([["blue"]]).toarray()

c:\Users\b12b3\Desktop\ML\ML-Projects\Environments\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [16]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [17]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [18]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [19]:
lbl_encoder.fit_transform(df[["color"]])

c:\Users\b12b3\Desktop\ML\ML-Projects\Environments\venv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [21]:
lbl_encoder.transform([["blue"]])

c:\Users\b12b3\Desktop\ML\ML-Projects\Environments\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [22]:
### ordinal encoding

In [23]:
## odrinal encoding 
import pandas as pd

In [24]:
from sklearn.preprocessing import OrdinalEncoder
ord_encoder=OrdinalEncoder()

In [26]:
df=pd.DataFrame({
    "size":["small","medium","large","medium","small","large"]
})
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [31]:
#ranking assign
encoder=OrdinalEncoder(categories=[["small","medium",'large']])

In [28]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [37]:
encoder.fit_transform(df[["small"]])

KeyError: "None of [Index(['small'], dtype='object')] are in the [columns]"

In [ ]:
#target guided ordinal encoding